body {
    background: #ededed;
  }
  
  .container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    background: #ededed;
  }
  
  .container,
  .form__input,
  .form__button {
    font: 500 1rem "Quicksand", sans-serif;
  }
  
  /* .form--hidden {
    display: none;
  } */
  
  .form > *:first-child {
    margin-top: 0;
  }
  
  .form > *:last-child {
    margin-bottom: 0;
  }
  
  .form__message {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .form__input-group {
    margin-bottom: 1rem;
  }
  
  .form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    outline: none;
    background: #ffffff;
    transition: background 0.2s, border-color 0.2s;
  }
  
  .form__input:focus {
    background: #ffffff;
  }
  
  .form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    background-color: #92be4d;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .form__text {
    text-align: center;
  }
  
  .form__link {
    text-decoration: none;
    cursor: pointer;
  }
  
  .form__link:hover {
    text-decoration: underline;
  }
  
  #login_button,
  #signin_button {
    background-color: #92be4d;
    margin-left: 35%;
    width: 100px;
    color: white;
    height: 50px;

  }
  #mysign{
    width: 400px;
    margin: auto;
    margin-top: 50px;
  }
=======


